@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0f172a;
}

.active {
    color: rgb(186 230 253);
    font-weight: 600;
}

button:disabled{
    background-color: #527481;
}

button:disabled:hover {
    background-color: #527481;
}


.bg-nav-color{
    background-color: #00000088;
}

.spin {
    animation: 2s spin linear infinite;
}

@keyframes spin {
    0%{
        rotate: 0deg;
    }100%{
        rotate: 360deg;
    }
}